html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Container styles */
.hotspotSet {
    left: 0;
    top: 0;
    position: relative;
    border: 10px solid grey;
    width: auto;
    margin: 0;
    padding: 0;
}

.hotspotSet img {
    width: 100%;
    height: auto;
    display: block;
}

/* Hotspot styles */
.hotspot {
    position: absolute;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 3px;
}

.hotspot.outline {
    opacity: 1;
    background-color: transparent !important;
    border: 6px solid blue;
}

.hotspot.outline:hover {
    border: 6px solid black;
}


/* Hotspot popup theme */
.tippy-tooltip.contrast-theme {
    background-color: black;
    color: white;
    font-size: 1em;
}

.tippy-tooltip.contrast-theme[data-animateFill]{
    background-color: transparent;
}

.tippy-tooltip.contrast-theme .tippy-backdrop {
    background-color: black;
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.contrast-theme .tippy-arrow {
  border-top-color: black;
}

.tippy-popper[x-placement^='bottom'] .tippy-tooltip.contrast-theme .tippy-arrow {
  border-bottom-color: black;
}

.tippy-popper[x-placement^='left'] .tippy-tooltip.contrast-theme .tippy-arrow {
  border-left-color: black;
}

.tippy-popper[x-placement^='right'] .tippy-tooltip.contrast-theme .tippy-arrow {
  border-right-color: black;
}